.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#calculator {
  padding: .5em;
  width: 20em;
  height: 31.5em;
  background-color: #464545;
  border: .15em outset #616060;
}

#display-wrapper {
  text-align: right;
  background-color: #8a826d;
  width: 20em;
  height: 6em;
  overflow: hidden;
}

#display-total {
  margin: .5em 0 0 0;
  padding: 0;
  font-family: monospace;
  color: #353030;
  font-size: 1.4em;
}

#display {
  margin: .75em 0 0 0;
  padding: 0;
  font-family: monospace;
  color: #0fe21a;
  font-size: 2em;
}

#input-wrapper {
  margin: .5em 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20em;
  height: 25em;
  background-color: dimgrey;
}

#button-text {
  margin: .45em 0 0 0;
  padding: 0;
  font-size: 2em;
  color: antiquewhite;
}

#clear {
  margin: 0;
  padding: 0;
  height: 4.7em;
  width: 9.7em;
  background-color: #dd3113;
  border: .15em outset gray;
}

#decimal {
  height: 4.7em;
  width: 4.7em;
  background-color: #238b31;
  border: .15em outset gray;
}

#equals {
  position: relative;
  top: -5em;
  height: 9.7em;
  width: 4.7em;
  background-color: #3434f3;
  border: .15em outset gray;
}

#zero {
  height: 4.7em;
  width: 9.7em;
  background-color: #c07e32;
  border: .15em outset gray;
}

.number {
  height: 4.7em;
  width: 4.7em;
  background-color: #c07e32;
  border: .15em outset gray;
}

.operand {
  height: 4.7em;
  width: 4.7em;
  background-color: #238b31;
  border: .15em outset gray;
}

@media only screen and (max-width: 750px) {
  .App {
    min-height: 90vh;
  }
}